.DS_Store
**/target
*.o

/benchmarks/**/*.txt

# IntelliJ
*.iml
.idea
out/

# Gradle
.gradle
build

# Java
*.jar
!gradle-wrapper.jar

# Eclipse
bin
.project
btypes_primitives/.settings/org.eclipse.jdt.core.prefs
btypes_big_integer/.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.classpath

src/main/resources/de/hhu/stups/codegenerator/testfiles/Rule_DB_Route_0001ori.mch


*.dSYM
*.tmp
*.save
*.exec
*.pyc
*.prob
*.gch
classes
.sh
send_user_interrupt
probcli
probcli.sh
benchmarks/execution/ProB/lib
benchmarks/execution/ProB/stdlib

/*.c
/*.cpp
/*.hpp
/*.java
/*.mch
/*.py
**/Cargo.lock
**/vendor/
build_cpp/
btypes_primitives/**/*.js
benchmarks/model_checking/ProB/lib
benchmarks/model_checking/ProB/stdlib
btypes_primitives/src/main/rust/bmachine/src/**
btypes_big_integer/src/main/rust/bmachine/src/**
/*.json
!/package.json
!/tsconfig.json
